<%- include('../templates/head') %> 
<%- include('../components/navbar',{title:'Agenda de Contatos',session:session,created:true}) %> 
<div class="erro_display">
    <h1>ERROR 404</h1>
</div>  
<%- include('../templates/footer') %>