<%- include('../templates/head') %> 
<%- include('../components/navbar',{title:'Agenda de Contatos',session:session,created:false}) %> 
<div class="messages">
    <%- include('../components/messages') %> 
  </div>
<div class="container-fluid welcome-display">
    <h1>Bem-Vindo</h1>
</div>
<%- include('../templates/footer') %>
