
<div class="dropdown">
     
     <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" data-bs-display="static"  aria-expanded="false">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z"></path></svg>
     </button>
     <ul class="dropdown-menu dropdown-menu-lg-end p-4">
         <form  method="post" action="login">
     
           <%-include('../components/inputs',{
             size:'mb-3',
             value:'',
             id:'inputEmail',
             label:'E - mail',
             name:'email',
             type_input: 'email'
           })%> 
     
           <%-include('../components/inputs',{
            size:'mb-3',
            value:'',
            id:'inputPassword',
            label:'Senha',
            name:'password',
            type_input: 'password'
           })%> 
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
           <button type="submit" class="btn btn-primary">Sign in</button>
         </form>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="/createdUser">Create User</a>
     </ul>
</div>
  
